<%-include("partials/header")-%>
    <div class="card">
        <div class="card-body">
            <h3><%= title %></h3>
            <p><%= content %></p>
        </div>
    </div>
<%-include("partials/footer")-%>